<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

   <!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:log4j.properties"/>
     
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
     <property name="driverClassName" value="com.mysql.jdbc.Driver" />
     <property name="url" value="jdbc:mysql://localhost:3306/ssh01"/>
     <property name="username" value="root" />
     <property name="password" value="123456" />
   </bean> 
   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource" />
     <property name="hibernateProperties">
      <props>
       <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
       <prop key="hibernate.show_sql">true</prop>
      </props>
     </property>
     <property name="mappingResources">
      <list>
       <value>com/lt/po/Employee.hbm.xml</value>
      </list>
     </property>
   </bean>
 
 <bean id="employeeDao" class="com.lt.dao.impl.EmployeeDaoImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>

 <bean id="employeeService" class="com.lt.service.impl.EmployeeServiceImpl">
  <property name="employeeDao" ref="employeeDao" />
 </bean>
 
 <bean id="addBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>

 <bean id="editBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>
 
 <bean id="updateBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>
  
 <bean id="deleteBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>
 
 <bean id="saveOrUpdateBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>
 
 <bean id="listBean" class="com.lt.action.EmployeeAction" scope="prototype"> 
  <property name="employeeService" ref="employeeService" />
 </bean> 

 <bean id="loginBean" class="com.lt.action.EmployeeAction" scope="prototype">
  <property name="employeeService" ref="employeeService" />
 </bean>
 
 <!-- 分页查询 -->
 <bean id="pageBean" class="com.lt.action.PageAction" scope="prototype">
   <property name="service" ref="employeeService"/>
 </bean>

</beans>